.layout {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--g-spacing-1);
}

.plug {
    margin: auto;
    gap: var(--g-spacing-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridList {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--g-spacing-2);
    overflow: hidden;
    height: 100%;
    .commentCard {
        min-height: calc(3 *var(--g-spacing-10));
    }
}
.actions{
    width: 100%;
    overflow: hidden;
    flex: 0 0 fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.paginationBlock{
    flex: 0 0 fit-content;
}